<div id="carousel" class="carousel">
  <div class="item-1">
    <%= image_pack_tag 'cats/cat1.jpeg' %>
  </div>
  <div class="item-2">
    <%= image_pack_tag 'cats/cat2.jpeg' %>
  </div>
  <div class="item-3">
    <%= image_pack_tag 'cats/cat3.jpeg' %>
  </div>
  <div class="item-4">
    <%= image_pack_tag 'cats/cat4.jpeg' %>
  </div>
  <div class="item-5">
    <%= image_pack_tag 'cats/cat5.jpeg' %>
  </div>
  <div class="item-6">
    <%= image_pack_tag 'cats/cat6.jpeg' %>
  </div>
</div>

