<nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <%= image_pack_tag 'logo.png' %>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <div class="navbar-item field has-addons">
        <div class="control">
          <input class="input" type="text" placeholder="輸入關鍵字">
        </div>
        <div class="control">
          <a class="button is-primary">
            <i class="fas fa-search"></i>&nbsp; 搜尋
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if user_signed_in? %>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link">
                <i class="fas fa-user"></i>&nbsp;<%= current_user.email %>
              </a>
              <div class="navbar-dropdown">
                <%= link_to "個人資料", edit_user_registration_path, class: 'navbar-item' %>
                <a class="navbar-item">
                  訂單紀錄
                </a>
                <hr class="navbar-divider">
                <%= link_to "登出", destroy_user_session_path, method: :delete, class: 'navbar-item' %>
              </div>
            </div>
          <% else %>
            <%= link_to "註冊", new_user_registration_path, class: 'button is-primary' %>
            <%= link_to "登入", new_user_session_path, class: 'button is-light' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>

