<section class="section">
  <h1 class="title">購物車</h1>

  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th>品項</th>
        <th>單價</th>
        <th>數量</th>
        <th>小計</th>
      </tr>
    </thead>
    <tbody>
      <% current_cart.items.each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.product.sell_price %></td>
        <td><%= item.quantity %></td>
        <td><%= item.total_price %></td>
      </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="3">總價</td>
        <td><%= current_cart.total_price %></td>
      </tr>
    </tfoot>
  </table>
</section>

