<section class="container">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">健康養生</a></li>
      <li><a href="#">輔具器材</a></li>
      <li class="is-active"><a href="#" aria-current="page">按摩伸展</a></li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-7">
      <figure class="image">
        <%= image_tag @product.cover_image.variant(resize: '770x520') if @product.cover_image.attached? %>
      </figure>

      <article class="content">
        <h4>產品特色</h4>
        <p><%= @product.description %></p>
      </article>
    </div>

    <div class="column is-5">
      <h3 class="has-text-grey-light"><%= @product.vendor.title %></h3>
      <h2 class="title is-4"><%= @product.name %></h2>
      <p class="has-text-primary is-size-4">
        原價：<span class="list-price"><%= @product.list_price %></span><br />
        特價：<span class="sell-price"><%= @product.sell_price %></span>
      </p>
      <hr>

      <% if @product.skus.any? %>
        <div class="field">
          <div class="columns">
            <div class="column is-3 is-size-4 has-text-right">
              品項
            </div>
            <div class="column is-9 field is-grouped">
              <div class="select is-fullwidth is-medium">
                <select>
                  <%= options_for_select(@product.skus.map { |p| [p.spec, p.id] }) %>
                </select>
              </div>
            </div>
          </div>
        </div>
      <% end %>

      <div class="columns">
        <div class="column is-3 is-size-4 has-text-right">
          數量
        </div>
        <div class="column is-9 field is-grouped">
          <a href="#" class="button is-white is-medium">-</a>
          <input type="number" name="quantity" class="input is-medium has-text-centered" value="1">
          <a href="#" class="button is-white is-medium">+</a>
        </div>
      </div>
      <a href="#" class="button is-primary is-medium is-fullwidth">加到購物車</a>
    </div>
  </div>
</section>

