<!DOCTYPE html>
<html>
  <head>
    <title>MyCitiesocial 管理系統</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'backend', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/flash' if notice %>
    <%= render 'shared/backend/navbar' %>
    <%= yield %>
  </body>
</html>

